.mall{
  padding: 10px 4%;
  box-sizing: border-box;
}
.m_nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.m_nav>input{
  flex:3
}
.m_nav>img{
  width: 36px;
}